.container {
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  
  .titulo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #428bca;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .info {
    font-size: 18px;
    font-weight: bold;
  }