<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Users</title>

</head>
<body onload="users()">

    <div class="container">
        <h2 class="titulo">Usuarios</h2>

        <div id="usuarios">
            <table class="table">

                <thead>
                    <tr class="info">
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody id="tbody"></tbody>

            </table>

            <br>
            <a href="../templates/formulario.html"><button class="btn btn-primary" id="crearUser">Crear Usuario</button></a>

        </div>

    </div>
    
	<script src="../static/main.js"></script>

</body>
</html>